# PostgreSQL Connection String
# For local Docker: postgres://postgres:postgres@localhost:5432/multitenant_lms
# For Supabase / Neon: postgresql://user:password@host:5432/database?sslmode=require
DATABASE_URL=postgres://postgres:postgres@localhost:5432/multitenant_lms

# Root domain for subdomains in development
# In development: localhost:3000
# In production: mydomain.com
NEXT_PUBLIC_ROOT_DOMAIN=localhost:3000
PORT=3000
